.group-3131-1 {
  align-items: flex-end;
  display: flex;
  height: 164px;
  left: 5px;
  position: absolute;
  top: 105px;
}

.overlap-group-4 {
  height: 166px;
  margin-bottom: -4px;
  position: relative;
  width: 8px;
}

.number-97 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.number-98 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.number-99 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}

.number-100 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 45px;
  white-space: nowrap;
}

.number-101 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 60px;
  white-space: nowrap;
}

.number-102 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 75px;
  white-space: nowrap;
}

.number-103 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 90px;
  white-space: nowrap;
}

.number-104 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 105px;
  white-space: nowrap;
}

.number-105 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 120px;
  white-space: nowrap;
}

.number-106 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 135px;
  white-space: nowrap;
}

.number-107 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 150px;
  white-space: nowrap;
}

.group-3131-1.group-3132-1 {
  left: 0;
  top: 150px;
}

