.group-3144 {
  align-items: flex-end;
  display: flex;
  height: 254px;
  left: 12px;
  position: absolute;
  top: 75px;
}

.overlap-group7 {
  height: 256px;
  margin-bottom: -4px;
  position: relative;
  width: 8px;
}

.number-12 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.number-13 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.number-14 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}

.number-15 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 45px;
  white-space: nowrap;
}

.number-16 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 60px;
  white-space: nowrap;
}

.number-17 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 75px;
  white-space: nowrap;
}

.number-18 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 90px;
  white-space: nowrap;
}

.number-19 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 105px;
  white-space: nowrap;
}

.number-20 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 120px;
  white-space: nowrap;
}

.number-21 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 135px;
  white-space: nowrap;
}

.number-22 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 150px;
  white-space: nowrap;
}

.number-23 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 165px;
  white-space: nowrap;
}

.number-24 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 180px;
  white-space: nowrap;
}

.number-25 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 195px;
  white-space: nowrap;
}

.number-26 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 210px;
  white-space: nowrap;
}

.number-27 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 225px;
  white-space: nowrap;
}

.number-28 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 240px;
  white-space: nowrap;
}

