.group-3141-1 {
  align-items: flex-end;
  display: flex;
  height: 16px;
  margin-left: 4.0px;
  margin-top: 43px;
  min-width: 50px;
}

.overlap-group9 {
  height: 20px;
  margin-bottom: -5px;
  position: relative;
  width: 50px;
}

.g-co2-1 {
  left: 26px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
}

.mask-group-8-1 {
  align-items: flex-start;
  display: flex;
  height: 14px;
  left: 0;
  overflow: hidden;
  padding: 0 1px;
  position: absolute;
  top: 0;
  width: 29px;
}

.overlap-group3-4 {
  height: 344px;
  margin-top: -135px;
  position: relative;
  width: 25px;
}

