.iconadd-2 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 10.0px;
  margin-left: 201px;
  min-width: 24px;
}

.overlap-group3-7 {
  height: 28px;
  margin-bottom: 0;
  position: relative;
  width: 24px;
}

.bg {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.union-1 {
  height: 16px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 16px;
}

