.group-2982 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/611fdac8a506a1017c382f98/releases/611fdd1afc0af3fcbb2108e6/img/subtraction-35-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 140px;
  justify-content: flex-end;
  left: 30px;
  min-width: 140px;
  padding: 0 49.0px;
  position: absolute;
  top: 30px;
}

.union-12 {
  height: 10px;
  margin-top: 0;
  object-fit: cover;
  width: 25px;
}

