.group-3141-2 {
  align-items: flex-end;
  display: flex;
  height: 16px;
  margin-left: 3.0px;
  margin-top: 43px;
  min-width: 51px;
}

.overlap-group10 {
  height: 20px;
  margin-bottom: -5px;
  position: relative;
  width: 51px;
}

.g-co2-2 {
  left: 27px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
}

.mask-group-8-2 {
  height: 14px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 29px;
}

.overlap-group3-5 {
  height: 329px;
  left: 8px;
  position: absolute;
  top: -165px;
  width: 20px;
}

