.group-3141 {
  align-items: flex-end;
  display: flex;
  height: 16px;
  margin-left: 4.0px;
  margin-top: 28px;
  min-width: 50px;
}

.overlap-group4-2 {
  height: 20px;
  margin-bottom: -5px;
  position: relative;
  width: 50px;
}

.g-co2 {
  left: 26px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
}

.mask-group-8 {
  align-items: flex-start;
  display: flex;
  height: 14px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 29px;
}

.overlap-group3-3 {
  height: 389px;
  margin-top: -165px;
  position: relative;
  width: 26px;
}

