.group-2806 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 275px;
  width: 10px;
}

.number-194 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 1px;
  min-height: 20px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
}

.number-195 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 2px;
  min-height: 20px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
}

.number-196 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 4px;
  min-height: 20px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
}

.number-193 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 3px;
  min-height: 20px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
}

