.group-3133 {
  align-items: flex-end;
  display: flex;
  height: 254px;
  left: 12px;
  position: absolute;
  top: 135px;
}

.overlap-group7-1 {
  height: 256px;
  margin-bottom: -4px;
  position: relative;
  width: 8px;
}

.number-60 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.number-61 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.number-62 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}

.number-63 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 45px;
  white-space: nowrap;
}

.number-64 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 60px;
  white-space: nowrap;
}

.number-65 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 75px;
  white-space: nowrap;
}

.number-66 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 90px;
  white-space: nowrap;
}

.number-67 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 105px;
  white-space: nowrap;
}

.number-68 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 120px;
  white-space: nowrap;
}

.number-69 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 135px;
  white-space: nowrap;
}

.number-70 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 150px;
  white-space: nowrap;
}

.number-71 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 165px;
  white-space: nowrap;
}

.number-72 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 180px;
  white-space: nowrap;
}

.number-73 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 195px;
  white-space: nowrap;
}

.number-74 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 210px;
  white-space: nowrap;
}

.number-75 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 225px;
  white-space: nowrap;
}

.number-76 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 240px;
  white-space: nowrap;
}

