.group-2780 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
}

.overlap-group3-2 {
  height: 28px;
  position: relative;
  width: 122px;
}

.g-co2e {
  left: 54px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 38px;
}

