.group-3134-1 {
  align-items: flex-end;
  display: flex;
  height: 299px;
  left: 17px;
  position: absolute;
  top: 0;
}

.overlap-group7-2 {
  height: 301px;
  margin-bottom: -4px;
  position: relative;
  width: 8px;
}

.number-125 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.number-126 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.number-127 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}

.number-128 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 45px;
  white-space: nowrap;
}

.number-129 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 60px;
  white-space: nowrap;
}

.number-130 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 75px;
  white-space: nowrap;
}

.number-131 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 90px;
  white-space: nowrap;
}

.number-132 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 105px;
  white-space: nowrap;
}

.number-133 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 120px;
  white-space: nowrap;
}

.number-134 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 135px;
  white-space: nowrap;
}

.number-135 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 150px;
  white-space: nowrap;
}

.number-136 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 165px;
  white-space: nowrap;
}

.number-137 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 180px;
  white-space: nowrap;
}

.number-138 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 195px;
  white-space: nowrap;
}

.number-139 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 210px;
  white-space: nowrap;
}

.number-140 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 225px;
  white-space: nowrap;
}

.number-141 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 240px;
  white-space: nowrap;
}

.number-142 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 255px;
  white-space: nowrap;
}

.number-143 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 270px;
  white-space: nowrap;
}

.number-144 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 285px;
  white-space: nowrap;
}

