.group-2807 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 8px;
  position: absolute;
  top: 0;
  width: 10px;
}

.number-198 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 2px;
  min-height: 38px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
}

.number-199 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 6px;
  min-height: 20px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
}

.number-197 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 3px;
  min-height: 20px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
}

