.group-3142 {
  align-items: flex-end;
  display: flex;
  height: 164px;
  left: 6px;
  position: absolute;
  top: 60px;
}

.overlap-group-2 {
  height: 166px;
  margin-bottom: -4px;
  position: relative;
  width: 8px;
}

.number-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.number-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.number-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}

.number-4 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 45px;
  white-space: nowrap;
}

.number-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 60px;
  white-space: nowrap;
}

.number-6 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 75px;
  white-space: nowrap;
}

.number-7 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 90px;
  white-space: nowrap;
}

.number-8 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 105px;
  white-space: nowrap;
}

.number-9 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 120px;
  white-space: nowrap;
}

.number-10 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 135px;
  white-space: nowrap;
}

.number-11 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 150px;
  white-space: nowrap;
}

.group-3142.group-3143 {
  left: 0;
  top: 90px;
}

